@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  background-image: linear-gradient(
    180deg,
    rgb(148, 140, 140),
    rgb(60, 60, 211)
  );
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
